@{
    Layout = null;
}
@model P_GHAR_API.Models.Forgot_Password
<html lang="en">
<head>
    <title>Change Password</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
    <script src="~/Scripts/lg1.js"></script>
    <style>
        #b_img {
            background-image: url('/Content/img/Bc.jpg');
        }
    </style>

</head>
<body id="b_img">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <img src="~/Content/img/PG.jpeg" class="img-responsive" style="width: 407px;" />
                                </div>
                                <div class="card-body">
                                    @using (Html.BeginForm("ChangePSD", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
                                    {

                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            @Html.HiddenFor(m => m.M_NO)
                                            @Html.HiddenFor(m => m.CUST_ID)
                                            <label for="" class="control-label col-sm-6">NEW PASSWORD</label>
                                            @Html.TextBoxFor(model => model.Password, htmlAttributes: new { @class = "form-control",id="psd",type="Password", placeholder = "Enter Your NEW Password" })
                                            @Html.ValidationMessageFor(model => model.Password)
                                            <div class="form-group">
                                                <label for="" class="control-label col-sm-6">CONFIRM PASSWORD</label>
                                                @Html.TextBoxFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "form-control", id = "cnfpsd", type = "Password", placeholder = "Confirm Password" })
                                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                             </div>
                                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0" style="margin-left: 113px;">
                                                <button type="submit" name="btnSubmit" id="btnSubmit" class="btn btn-primary" data-placement="top">Change Password</button>
                                            </div>
                                            <em>
                                                @if (ViewBag.msg != null)
                                                {
                                                    <br /><br /><h4 style="text-align:center;color:darkgreen">@ViewBag.msg</h4><br /><br />
                                                }
                                            </em>
                                         </div>
                                    }
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
@if (!string.IsNullOrEmpty(ViewBag.msg))
{
    <script type="text/javascript">
        document.getElementById('psd').value = "";
        document.getElementById('cnfpsd').value = "";
    </script>
}